<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommendations</title>
  </head>
  <body>
    <h1>Movie Recommendations</h1>
    <form method="POST">
      <label for="movie1">Enter the name of the first movie:</label>
      <input type="text" name="movie1"><br><br>
      <label for="movie2">Enter the name of the second movie:</label>
      <input type="text" name="movie2"><br><br>
      <input type="submit" value="Submit">
    </form>
    {% if recommendations %}
    <h2>Similar Movies:</h2>
    <ul>
      {% for recommendation in recommendations %}
      <li>{{ recommendation }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
